.ComponentContainer {
}

.Title {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: left;
    color: #1f1f1f;
}

.SpecificationElement {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #1f1f1f;
    letter-spacing: 0.004em;
    text-align: left;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.SpecificationElement.show {
    max-height: 120px;
    opacity: 1;
}

.ShowMore {
    background-color: transparent;
    border: none;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.0025em;
    text-align: left;
    color: #ef3742;
    text-decoration: underline;
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    .specificationList {
        margin-top: 0;
    }
}
