.PlpsAttributes {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.PlpsAttributes ul, .PlpsAttributes h3 {
    text-align: start;
    margin: 0;
    padding: 0 15px;
}

.PlpsAttributes h3 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.PlpsAttributes li {
    font-size: 12px;
    padding: 2px 0;
}



.AttributesPDP {
  display: flex;
  flex-direction: column;
}

.AttributesPDP ul, .AttributesPDP h3 {
  text-align: start;
  margin: 0;
  padding: 0 15px;
  margin-bottom: 8px;
}

.AttributesPDP ul{
  width: 280px;
  max-width: 310px;
  margin-right: 8px;
}

.AttributesPDP h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

.AttributesPDP li {
  font-size: 12px;
  padding: 4px 0;
}

.AttributesPDP_link{
  color: #1F1F1F;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}

.AttributesPDP_link:hover, .AttributesPDP_link:visited, .AttributesPDP_link:focus, .AttributesPDP:active{
  text-decoration: none;
  color: inherit;
  outline: 0;
  cursor: pointer;
}
html{scroll-behavior:smooth}

.hide_this_product{

}
.show_this_product{

}
.vtex-search-result-3-x-galleryItem{
  background-color: blueviolet !important;
}