.containerOtherCards {
    width: 100%;
    max-width: 83%;
    min-height: 158px;
    margin: 0 auto;

    border-radius: 16px;
    background-color: #F5F5F5;

    & .wrapOtherCards {
        padding-top: 16px;
        padding-bottom: 16px;

        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        & .titleOtherCards {
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 700;
            line-height: 22.4px;

            color: #000;
            margin: 0 !important;

            padding-left: 16px;
            padding-right: 16px;
        }

        & .wrapContentPaymentImages {
            display: flex;
            flex-direction: column;
            gap: 16px;

            margin-top: 16px;

            & .wrapPaymentImages {
                height: 30px;

                padding-left: 16px;
                padding-right: 16px;
            }
        }
    }

    & .wrapInfomartionOther {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-left: 16px;
        padding-right: 16px;

        & .installmentPrice {
            & .currencyContainer {
                font-family: 'Roboto', sans-serif;
                font-size: 21px;
                font-weight: 700;
                line-height: 29.4px;
                line-height: 16.8px;

                color: #1F1F1F;
            }
        }
    }
}


/* border */
.wrapContentPaymentImages.borderWrapContentPayment {
    border-bottom: 1px solid #ccc;
    padding-bottom: 16px;
}

.wrapContentPaymentImages:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.wrapContentPaymentImages.single-item {
    border-bottom: none;
}