.dropDownContainer {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    position: relative;
}

.dropDownMenuContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    padding: 32px;
    top: 11.5%;
    left: 0%;
    position: absolute;
    z-index: 10;
    min-width: 340px;
    min-height: 416px;
}

.dropDownMenuContainer a {
    justify-content: flex-start;
}
