.containerHeaderDesktop {
    width: 100%;
}

.headerTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 56px;
}

.headerTopRight,
.headerTopMiddle,
.headerTopLeft {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerTopRight {
    gap: 16px;
}

.headerTopMiddle {
    width: 60%;
}

.headerBottom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    width: 100%;
    box-shadow: 0px 2px 2px 0px rgba(31, 31, 31, 0.08);
}

.headerBottomMenuItems,
.headerBottomMiddle,
.headerBottomLeft {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerBottomLeft {
    width: 30%;
    justify-content: space-around;
}

.headerBottomMenuItems {
    width: 70%;
    justify-content: space-around;
}
