.tag-preview-flag-container {
  position: relative;
}


.tag-preview-flag {
  width: 24px;
  height: 24px;

  border-radius: 50%;
  border: 2px solid #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  left: -10px;

  background-color: #F5F5F5;
}

.tag-preview-flag {
  background-color: #F5F5F5 !important;
}

.tag-preview-flag.more {
  font-size: 14px !important;
}