.cookiesModal {
    position: fixed;
    width: 402px;
    background-color: #051c2cd5;
    border-radius: 16px;
    color: #ffffff;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 16px;
    bottom: 6%;
    left: 4%;
    z-index: 2000;

    @media screen and (max-width: 768px) {
        width: 90%;
        left: 5%;
        bottom: 10%;
        padding: 16px;
        gap: 8px;
    }
}

.cookiesModal>h2 {
    font-size: 29px;
    margin: 0;

    @media screen and (max-width: 768px) {
        font-size: 16px;
    }

}

.cookiesModal>p {
    font-size: 16px;
    margin: 0;

    @media screen and (max-width: 768px) {
        font-size: 12px;
    }
}

.cookiesButton {
    width: 100%;
    padding: 8px;
    color: #051C2C;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;

    @media screen and (max-width: 768px) {
        font-size: 12px;
    }

}

.cookiesButton {
    cursor: pointer;
}

#cookiesAgreementLink, #cookiesAgreementLink:visited, #cookiesAgreementLink:hover, #cookiesAgreementLink:active {
  color: white;
  text-decoration: underline;
}