.containerCredisimanCards {
    width: 100%;
    max-width: 83%;
    min-height: 158px;
    margin: 0 auto;

    border-radius: 16px;
    background-color: #F5F5F5;

    & .wrapCredisimanCards {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        gap: 16px;
        height: 100%;
        padding-top: 16px;
        padding-bottom: 16px;

        & .titleCredisimanCards {
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 700;
            line-height: 22.4px;

            color: #000;
            margin: 0 !important;

            padding-left: 16px;
            padding-right: 16px;
        }

        & .wrapPaymentImages {
            height: 30px;

            padding-left: 16px;
            padding-right: 16px;
        }

        & .wrapCredisimanInterestFreeInstallments {
            display: flex;
            align-items: center;
            justify-content: space-between;

            padding-left: 16px;
            padding-right: 16px;

            & .credisimanPriceInterestFreeInstallments {
                & .currencyContainer {
                    font-family: 'Roboto', sans-serif;
                    font-size: 21px;
                    font-weight: 700;
                    line-height: 29.4px;
                    line-height: 16.8px;

                    color: #1F1F1F;
                }
            }
        }
    }
}

.credsimanTextInterestFreeInstallments {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    color: #000000;
}