.container_orderNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px 0;
}

.orderNumberDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.orderNumberDiv label {
  pointer-events: none;
  position: absolute;
  top: calc(50% - 38px);
  left: 15px;
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  background-color: white;
  padding: 5px;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #6d6e71;
}

.orderNumberDiv input {
  border: 1px solid #6d6e71;
  border-radius: 4px;
  outline: none;
  width: 210px;
  height: 56px;
  font-size: 16px;
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -webkit-appearance: none;
  padding-left: 10px;
}

.container_orderNumber button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 24px;
  gap: 10px;
  width: 131px;
  height: 56px;
  background: #03499a;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  color: #ffffff;
  outline: none;
  margin: 10px;
  border: none;
  cursor: pointer;
}

.container_orderNumber button:disabled {
  background-color: #6d6e71;
  cursor: auto;
}

@media only screen and (max-width: 576px) {
  .container_orderNumber {
    flex-direction: column;
  }

  .orderNumberDiv {}

  .orderNumberDiv label {}

  .orderNumberDiv input {
    width: 358px;
    height: 56px;
  }

  .container_orderNumber button {
    width: 358px;
    height: 56px;
  }
}