.shippingContainer {
    padding: 8px 16px 8px 16px;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.topShipping {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: flex-start;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.0025em;
    text-align: left;
    color: #1f1f1f;
}

.bottomShipping {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.004em;
    text-align: left;
    color: #6d6e71;
}

.bottomShipping p {
    margin: 0 !important;
    padding-top: 8px;
}