.containerStickyShelfOpen,
.containerStickyShelfClose {
    display: block;
    transition: 0.4s ease-in-out;
    width: auto;
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 4px 1px;
    position: fixed;
    left: 0;
    bottom: 70px;
    background: #ffdc20;
    z-index: 1000;
}

.containerLogo {
    max-width: 130px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerStickyShelfOpen {
    width: 280px;
    background: #ffffff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 10px;
}

.openText,
.closeText {
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    text-align: center;
    font-size: 15px;
}

.openText {
    color: #ffffff;
}

.containerStickyShelfOpen :global(.vtex-product-price-1-x-sellingPrice),
.containerStickyShelfOpen :global(.vtex-product-price-1-x-listPrice--m3-shelf) {
    width: 100%;
}

.containerStickyShelfOpen
    :global(.vtex-store-components-3-x-discountInsideContainer) {
    top: 20px;
    background: #ffdc20;
    color: #000000;
}

.containerStickyShelfOpen
    :global(.vtex-flex-layout-0-x-flexRowContent--m3-shelf-price-selling-savings) {
    display: block;
}

.containerStickyShelfOpen
    :global(.vtex-product-price-1-x-sellingPrice--m3-shelf--hasListPrice) {
    margin-top: 10px;
}

.containerStickyShelfOpen :global(.vtex-add-to-cart-button-0-x-buttonText) {
    color: #000000;
    font-size: 11px;
}

.containerStickyShelfOpen :global(.vtex-button) {
    margin: 0 !important;
    margin-bottom: 10px !important;
    background: #ffdc20;
    border: 0;
}

.containerStickyShelfOpen
    :global(.vtex-slider-layout-0-x-paginationDot--m3-shelf-products-slide--isActive) {
    background: #000000;
}

.containerHeader {
    display: flex;
    justify-content: end;
    align-items: center;
    background: #000000;
    border-top-right-radius: 5px;
    padding-right: 10px;
    height: 50px;
}

.containerHeaderLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
