.containerStickyShelfOpen,
.containerStickyShelfClose {
    display: block;
    transition: 0.4s ease-in-out;
    width: auto;
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 4px 1px;
    border-top-right-radius: 50px;
    position: fixed;
    left: 0;
    bottom: 70px;
    background: #7e1f25;
    z-index: 10000000;
    border-bottom-right-radius: 50px;
}

.containerLogo {
    padding: 10px;
    cursor: pointer;
}

.containerStickyShelfOpen {
    width: 280px;
    background: #ffffff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 10px;
}

.containerHeader {
    display: flex;
    justify-content: end;
    align-items: center;
    background: #7e1f25;
    border-top-right-radius: 5px;
    padding-right: 10px;
}

.containerHeaderLogo {
    display: flex;
    justify-content: center;
    width: 100%;
}
