.minimum-price {
   color: var(--siman-rojo, #a83338);
   font-family: "Roboto", sans-serif;
   font-size: 8px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: 0.12px;
}
.minimum-price .currencyContainer {
   color: var(--siman-rojo, #a83338) !important;
   font-family: "Roboto", sans-serif;
   font-size: 8px !important;
   font-style: normal !important;
   font-weight: 400 !important;
   line-height: normal !important;
   letter-spacing: 0.12px !important;
}
