.product-comparator-seen {
  width: 20%;
  padding: 12px;

  & :global(.vtex-flex-layout-0-x-flexRow--product-comparator-shelf) {
    padding: 8px;
  }

  & :global(.siman-wishlist-2GGR-hrTignA5-rSDpN4dP) {
    z-index: 1;
  }

  & :global(.vtex-store-components-3-x-productImagesContainer--product-comparator-shelf) {
    pointer-events: none;
    margin-bottom: 5px;
  }

  & :global(.vtex-store-components-3-x-productBrandName--product-comparator-shelf) {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.0025em;
    color: #1F1F1F;
  }

  & :global(.vtex-store-components-3-x-productBrand--product-comparator-shelf) {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #1F1F1F;
    margin: 0;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 5px;
    margin-bottom: 5px;
  }


  & :global(.siman-m3-custom-0-x-customCrediSimanPriceProduct) {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.005em;
    padding-top: 10px;
    padding-bottom: 8px;
  }

  & :global(.siman-m3-custom-0-x-customCrediSimanTagText) {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.004em;
  }

  & :global(.vtex-flex-layout-0-x-flexRow--product-comparator-shelf-add-to-cart) {
    & :global(.vtex-button) {
      background-color: #ef3742;
      margin-top: 2px !important;
      color: #fff;
      border: none;
      border-radius: 8px;
      width: 100%;
      opacity: 0;

      &:hover {
        background-color: #ab3338;
      }

      & :global(.vtex-button__label) {
        font-size: .85rem;
        color: #fff;
      }
    }
  }

  &:hover {
    & :global(.vtex-button) {
      opacity: 1;
    }
  }

}