.prod-wrapper-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid #e9eaea;
    border-radius: 5px;
    padding: 0 3.46%;
    cursor: pointer;
    transition: border-color 0.15s ease-in-out;
    user-select: none;
}

.prod-wrapper-active {
    border-color: #ab323b;
}

.prod-wrapper-text-container {
    max-width: 160px;
}

.prod-wrapper-icon {
    display: block;
    height: 66px;
    width: auto;
}

.prod-wrapper-title {
    padding: 5px 0;
    font-size: 16px;
    line-height: 1;
    margin: 0;
    color: #3f3f40;
}

.prod-wrapper-subtitle {
    color: #727273;
    font-size: 16px;
}

.prod-wrapper-icon-container {
    margin-right: 3.698%;
}

@media (max-width: 960px) {
    .prod-wrapper-text-container {
        max-width: 130px;
    }

    .prod-wrapper-subtitle,
    .prod-wrapper-title {
        font-size: 13px;
    }
}
